<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trendy | Bags</title>
    <link rel="stylesheet" href="bags.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="header">
        <div class="search-box">
            <div class="search">
                <div class="searching">
                    <img src="images\icons8-search-50.png" class="search-btn">
                </div>
                <div>
                    <input type="text" placeholder="find your shoe" class="search-input-box">
                    <div class="options">
                        <p>Air jordans</p>
                        <p>Nike</p>
                        <p>Yeezy</p>
                        <p>Adidas</p>
                        <p>Converse</p>
                        <p>asics</p>
                        <p>puma</p>
                        <p>udg</p>
                        
                    </div>
                </div>
            </div>
            <a href="about-us-page.ejs"><button type="button" class="logo-name"><em>trendy<br>rendy</em></button></a>
            <a href="/loginForm"><button type="button" class="login-btn">login/register</button></a>
        </div>
        <div class="menu-list">
            <a href="#" class="lists">air jordans</a>
            <a href="#" class="lists">nike</a>
            <a href="#" class="lists">yeezy</a>
            <a href="#" class="lists">adidas</a>
            <a href="#" class="lists">new balance</a>
            <a href="#" class="lists">converse</a>
            <a href="#" class="lists">asics</a>
            <a href="#" class="lists">puma</a>
            <a href="#" class="lists">Bags</a>
            <a href="#" class="lists">categories</a>
            <a href="#" class="lists">sports</a>
            <a href="#" class="lists">brands</a>
            <a href="/contact" class="lists"><span class="sale">sale</span></a>
            
        </div>
      </div>
    <div class="products">
        <div class="title">
            <h3>Trendy Bags</h3>
        </div>
        <div class="product-thumbnails">
           <div class="product-banner" >
                <img src="images\IMG-20230731-WA0022.jpg" class="product-image">
                <p class="banner-item-title">Jordan 1 retro low OG x travis scott</p>
                <p class="one"> <span>ksh.1800.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0021.jpg" class="product-image">
                <p class="banner-item-title">Gean Rovers</p>
                <p class="one"> <span>ksh.1500.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0025.jpg" class="product-image">
                <p class="banner-item-title">tarmark Makers GT-9</p>
                <p class="one"><span>ksh.2799.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0029.jpg" class="product-image">
                <p class="banner-item-title">Luis Vitton Pryshon</p>
                <p class="one"><span>ksh.2200.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0016.jpg" class="product-image">
                <p class="banner-item-title">Gean Rovers sued perfected</p>
                <p class="one"><span>ksh.3000.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0018.jpg" class="product-image">
                <p class="banner-item-title">Tanin Leather Handbag</p>
                <p class="one"><span>ksh.2500.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0037.jpg" class="product-image">
                <p class="banner-item-title">Quench The thirst hand bag</p>
                <p class="one"><span>ksh.1500.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0038.jpg" class="product-image">
                <p class="banner-item-title">Ruby cliche bag X mini baby bag</p>
                <p class="one"><span>ksh.2500.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0030.jpg" class="product-image">
                <p class="banner-item-title">generation designer bag X siblings</p>
                <p class="one"><span>ksh.2800.00</span></p>
            </div>
          
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0015.jpg" class="product-image">
                <p class="banner-item-title">kiki cologne theft Handbag</p>
                <p class="one"><span>ksh.3000.00</span></p>
            </div>
            <div class="product-banner">
                <img src="images\IMG-20230731-WA0055.jpg" class="product-image">
                <p class="banner-item-title">kiki cologne theft Handbag</p>
                <p class="one"><span>ksh.3000.00</span></p>
            </div>
        </div>
      </div>
</body>
</html>