<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="newcart.css">
    
</head>
<body>
    <div class="cart-items">
        <div class="item1">
            <div class="cart-image">
                <img class="cart-img" src="IMG-20230731-WA0046.jpg">
            </div>
            <div class="cart-des">
                <div class="item-title">
                    <p class="title">Gean Rovers</p>
                </div>
                <div class="item-quantity">
                    <input type="number" class="quantity">
                </div>
                <div class="total-price">
                    <p class="price">ksh.2999.00</p>
                </div>
            </div>
            <div class="cart-buttons">
                <button class="close">Remove</button>
            </div>
        </div>
        <div class="item1">
            <div class="cart-image">
                <img class="cart-img" src="IMG-20230731-WA0011.jpg">
            </div>
            <div class="cart-des">
                <div class="item-title">
                    <p class="title">Gean Rovers</p>
                </div>
                <div class="item-quantity">
                    <input type="number" class="quantity">
                </div>
                <div class="total-price">
                    <p class="price">ksh.2999.00</p>
                </div>
            </div>
            <div class="cart-buttons">
                <button class="close">Remove</button>
            </div>
        </div>
        
    </div>
</body>
</html>