<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="productpage.css">
    <script src="productpage.js" async></script>
</head>
<body>
    <div class="view-products">
        <div class="productone">
            <div class="image-clicked">
                <img class="img-clicked" src="images\banner2.jpg">
            </div>
            <div class="image-clicked-des">
                <div class="description">
                    <p>Authencity.100% guaranteed</p>
                    <h2>Air Jordan 1 retro low OG<br>x travis scott</h2>
                    <input type="number" class="shoe-number" placeholder="shoe size">
                    <input type="number" placeholder="quantity" class="quantity" value="1">
                    <a href="/"><button type="button" class="add-cart-button">add to cart</button></a>
                    <p id="one">TOTAL <span>ksh.4500.00</span></p>
                </div>
                <a href="/"><h1 class="des-close">X</h1></a>
            </div>
            </div>
    </div>
</body>
</html>